.content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    font-size: large;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(10, 0, 0);
    padding: 10px;
    font-style: italic;
}

.center {
    display: block;

    margin-left: 0%;
    margin-right: 20%;
    margin-bottom: 5%;


}

body {
    margin: 5%;
    padding: 5%;
    margin-top: 0%;
    padding-top: 3%;
    background-color: black;
    align-items: center;

}
button {
    text-align: center;
    display: block;
    width: 180px;
    height: 30px;
    display: block;
    margin: auto;
}

h1 {
    font-style: italic;
    text-decoration: underline;
}

table,
th,
td {

    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;

}

th,
td {
    width: 5%;
    background-color: rgb(35, 222, 222);
    color: black;
}

tr {
    height: 50px;
}

.main {
    display: flex;
}

.box {
    flex: 50%;
    padding: 5px;
}

#y {
    text-decoration: underline;
}